<div class="blox-snippet-page">
  <aside mdcDrawerContainer="temporary" [(open)]="open">
    <nav mdcDrawer>
      <div mdcDrawerToolbarSpacer></div>
      <div mdcDrawerContent mdcListGroup>
        <nav mdcList>
          <a (click)="toggleDrawer(); getBrand(letter)" *ngFor="let letter of letters" mdcListItem
            style="font-size: xx-large; padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid black;">
            {{letter}}
          </a>
        </nav>
      </div>
    </nav>
  </aside>
  <div class="blox-demo-content">
    <header mdcTopAppBar>
      <div mdcTopAppBarRow>
        <section mdcTopAppBarSection alignStart>
          <button mdcTopAppBarNavIcon class="material-icons" (click)="toggleDrawer()"><i
              class="material-icons">&#xE5C4;</i></button>
          <span mdcToolbarTitle>Catalog of cars</span>
        </section>
      </div>
    </header>
    <main class="blox-demo-main" *ngIf="!showPreview && brand != ''">
      <section class="custom-card-container">
        <app-main [(brand)]="brand"></app-main>
      </section>
    </main>
  </div>
</div>