<div *ngIf="brand" [ngStyle]="{ 'padding-top': '25px', 'padding-bottom': '50px' }">
  <table>
    <tr>
      <td [ngStyle]="{ 'padding-left': '50px' }">
        <div mdcCard>
          <div class="custom-card-group-heading">Information</div>
          <hr mdcListDivider>
          <a class="custom-card-article" mdcRipple surface>
            <h2>Brand name</h2>
            <p>{{ brandName }}</p>
          </a>
          <hr mdcListDivider>
          <a class="custom-card-article" mdcRipple surface>
            <h2>Timeline</h2>
            <p>{{ timeline }}</p>
          </a>
          <hr mdcListDivider>
          <a class="custom-card-article" mdcRipple surface>
            <h2>Place of origin</h2>
            <img src="{{ flag }}" width="150" height="100">
          </a>
        </div>
      </td>

      <td [ngStyle]="{ 'padding-left': '50px' }">
        <div mdcCard>
          <div class="custom-card-group-heading">Headquarters</div>
          <hr mdcListDivider>
          <a mdcCardPrimaryAction [ngStyle]="{ 'width': '500px', 'height': '350px' }">
            <div mdcCardMedia size="square">
              <div mdcCardMediaContent>
                <img src="{{ selectedPhoto }}" width="auto" height="350px">
              </div>
            </div>
          </a>
          <div mdcCardActions mdcCardActionIcons *ngIf="manyPhotos">
            <button mdcIconButton class="material-icons" [disabled]="disableBtnBefore"
              (click)="selectHeadquarters('bef')">navigate_before</button>
            <button mdcIconButton class="material-icons" [disabled]="disableBtnNext"
              (click)="selectHeadquarters('next')">navigate_next</button>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td [ngStyle]="{ 'padding-left': '250px' }">
        <div mdcCard>
          <div class="custom-card-group-heading">Gallery</div>
          <hr mdcListDivider>
          <a mdcCardPrimaryAction [routerLink]="['/models', brand]" [ngStyle]="{ 'width': '500px', 'height': '350px' }">
            <div mdcCardMedia>
              <div mdcCardMediaContent>
                <img src="{{ titlePhoto }}" width="500px" height="350px">
              </div>
            </div>
          </a>
        </div>
      </td>

      <td [ngStyle]="{ 'padding-left': '50px' }">
        <div mdcCard [ngStyle]="{'width': '250px'}">
          <div class="custom-card-group-heading">Founder - {{founder}}</div>
          <hr mdcListDivider>
          <a mdcCardPrimaryAction [ngStyle]="{ 'width': 'auto', 'height': '250px' }">
            <div mdcCardMedia size="square">
              <div mdcCardMediaContent>
                <img src="{{ founderPhoto }}" width="auto" height="250px">
              </div>
            </div>
          </a>
        </div>
      </td>
    </tr>
  </table>

  <br><br>
  <button (click)="goToBack()" mdcButton [outlined]="true"><i mdcButtonIcon
      class="material-icons">arrow_back_ios</i>&nbsp;Back</button>
</div>